.task {
  float: left;
  padding: 3px;
  margin-right: 1px;
  margin-bottom: 1px;
  box-shadow: inset 0 0 3px #CCC;
  overflow: hidden;
  line-height: 1.2em;

  &.blocker {
    background-image: linear-gradient(135deg, rgba(252, 238, 38, .5) 12.5%, transparent 12.5%, transparent 25%, rgba(252, 238, 38, .5) 25%, rgba(252, 238, 38, .5) 37.5%, transparent 37.5%, transparent 50%, rgba(252, 238, 38, .5) 50%, rgba(252, 238, 38, .5) 62.5%, transparent 62.5%, transparent 75%, rgba(252, 238, 38, .5) 75%, rgba(252, 238, 38, .5) 87.5%, transparent 87.5%);
  }

  &.task-large {
    width: 180px;
    height: 70px;
  }

  &.task-medium {
    width: 170px;
    height: 40px;
  }

  &.task-small {
    width: 60px;
    height: 50px;
    font-size: 0.8em;
  }
}
